/*****************************************************/
/* template  */

/*!
 * Start Bootstrap - Creative v3.3.7+1 (http://startbootstrap.com/template-overviews/creative)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */


/*
font types
*/
html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}
hr {
  border-color: #0CB2E5;
  border-width: 3px;

}

hr.dark {
  margin-top: 0px;
  margin-bottom: 0px;
  border-color: #444647;
  border-width: 1px;

}
hr.dark2 {
  margin-top: 0px;
  margin-bottom: 0px;
  border-color: #444647;
  border-width: 1px;
  margin-left: 20px;
  margin-right: 20px;

}
hr.light {
  border-color: white;
}
a {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  color: #F05F40;
}
a:hover,
a:focus {
  color: #444647;
}

.inputleft{
  text-align: left;
  float:left;
  margin-left: 10px;
}

#textleft{
  text-align: left;
}
.inputcenter{
  float:center;
}


#clickMe
{

  display: block;
  position: absolute;
  z-index: 1000;
  width: 100%;
  height: 100%;
  color:transparent;


}

#clickMe:hover
{
  border: 3px solid;
  border-color: #0CB2E5;
  font-family: 'Ubuntu';
   color:#fff;
   font-size: 30px;
  border-radius: 14px;
  background-color: rgba(0,0,0,0.75);
}
#clickMe span
{
  display: none;
}


.bgMarket {
  background-color: #E8E8E8;
  position: relative;
  width: 100%;
  min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  text-align: center;
}

.loan{
  position: relative;
  height: 330px;
  width: 265px;
  background-color: #fff;
  margin-top: 40px;
  border: 1px solid;
  border-color: #444647;
  border-radius: 15px;

}
.verticalright{
  border-right: 1px solid #444647;
  height:70px;
}

.countdown {
  height: 25px;
  font-family: 'Ubuntu';
  font-weight: 100;
  font-size: 18px;
}

.loanpic {
  position: relative;
  height: 120px;
}
.loantag{
  height: 85px;
  position: relative;
  background-color: #FFFFFF;
}

.littlebox{
   height:70px;
   position: relative;
  font-family: 'Ubuntu';
  font-weight: 100;
  font-size: 18px;
}

.loanfill{

  width:100%;
  height:20.5px;
  background-color:#e8e8e8;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;

}
.loanload{
  background: #444647;
  height:100%;
  border-bottom-left-radius: 12.5px;
}

.overlay {
    border: 2px solid #26ade4;
    background-color: rgba(0,0,0,0.5);
    cursor: pointer;
}

.bgPAP {

  background:#fcfcfa;
   position: relative;
  width: 100%;
  min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  text-align: center;
}
.bgPAP2 {

  background:#fcfcfa;
  width: 100%;
  height:100%;
  min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  text-align: center;
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    background-color: #FFF;
    border-right: 1px solid #444647;
    height:100%;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}
.navbutton {
padding: 5px 13px;

letter-spacing: 1px;

font-family: 'Ubuntu';
  font-weight: 100;
  font-size: 15px;
  color: #444647;

border: #0CB2E5;
border-style: solid;
border-width: 1px;
border-radius: 25px;
}


/*ADD THIS*/
.investmentrow{
  border-top: 20px;
  width: 1170px;
  height: 30px;
  background-color: #FFF;
  border:1px solid;
  border-color: #444647;
}
.investmentrow2{
  border-top: 20px;
  width: 1170px;
  height: 60px;
  background-color: #FFF;
  border:1px solid;
  border-color: #444647;

}
@media (min-width: 768px){
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1  {
    width: 100%;
    *width: 100%;
  }
}

@media (min-width: 992px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
  }
}

/**
 *  The following is not really needed in this case
 *  Only to demonstrate the usage of @media for large screens
 */    
@media (min-width: 1200px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
  }
}

.accountbox{
  margin-top:15px;
  width: 100%;
  height: 150px;
  background-color: #FFF;
  border: 1px solid;
  border-color: #444647;
  border-radius: 25px;
}
.accountbox2{
  margin-top:20px;
  width: 100%;
  height: 275px;
  background-color: #FFF;
  border: 1px solid;
  border-color: #444647;
  border-radius: 25px;
}

.profilebox{
  margin-top: 15px;
  width: 100%;
  height: 410px;
  background-color: #FFF;
  border:1px;
  border-style:solid;
  border-color: #444647;

}

.profilebox2{
  margin-top: 27px;
  width: 100%;
  height: 300px;
  background-color: #FFF;
  border:1px;
  border-style:solid;
  border-color: #444647;

}

.profilebox3{
  width:100%;
  height: 350px;
  margin-top: 27px;
  background-color: #FFF;
  border:1px;
  border-style:solid;
  border-color: #444647;
}

.profilepicture{
  width: 250px;
  margin:auto;
  border-radius: 200px;
  border: 3px solid;
  border-color: #e8e8e8;
  margin-top: 15px;
}



.littlebox2{
  width: 70%;
   height:70px;
   margin:auto;
   border: 1px solid;
   border-color: #444647;
  font-family: 'Ubuntu';
  font-weight: 100;
  font size: 18px;
}

.loanbox{
  margin-top:10px;
  width: 100%;
  height: 40px;
  border: 1px solid;
  border-color: #444647;
}

.inputval{
  width:60px;
  font-family: 'Ubuntu';
  border: none;
  font-weight:400;
  color: #444647;
  font-size:30px;
  text-align:center;
  margin-left: 20px;

}



.signupbutton{
   background-color: #17CE17;
}

.lendersignup {
   background-color: #0CB2E5;

}

#test{
  width: 70%;
  color: #444647;
  margin: auto;
}

input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent; 
  border-color: transparent;
  color: transparent;
}

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 300px;
  background: #E8E8E8;
  cursor: pointer;
  margin-top: -6px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */

}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {

  border: 1px solid #000000;
  height: 16px;
  width: 16px;
 border-radius: 300px;
  background: #E8E8E8;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {

  border: 1px solid #000000;
  height: 16px;
  width: 16px;
   border-radius: 300px;
  background: #E8E8E8;
  cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: #444647;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #444647;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: #444647;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #444647;
}
input[type=range]:focus::-ms-fill-lower {
  background: #444647;
}
input[type=range]::-ms-fill-upper {
  background: #444647;

}
input[type=range]:focus::-ms-fill-upper {
  background: #444647;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Ubuntu';
  color: #444647;
}

p {
  font-size: 13px;
  font-family: 'Ubuntu';
  font-style: normal;
  font-variant: normal;
  font-weight: 100;
  color: #FFF;

  line-height: 1.5;
  margin-bottom: 20px;
}


h3.light{
  font-family: 'Ubuntu';
  font-weight: 100;
  color: #FFFFFF;
  font-size: 15px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

h3.signup{
  font-family: 'Open Sans';
  font-weight: 100;
  color: #444647;
  font-size: 24px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;


}
h2.signup{
  font-family: 'Open Sans';
  font-weight: 500;
  color: #444647;
  font-size: 34px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;


}
h3.heading{
    font-family: 'Open Sans';
    font-size: 24px;
    color: #444647;
}

/*Add these too*/
p.home {
    font-size: 13px;
    font-family: 'Open Sans';
    font-style: normal;
    font-variant: normal;
    font-weight: 100;
    color: #FFF;
    line-height: 1.5;
    margin-bottom: 20px;
}

h1.accountpage{
  font-family: 'Open Sans';
  font-color: #444647;
  font-weight: normal;
  text-align: center;
  font-size: 20px;
  margin-top:10px;

}
h2.accountpage{
  font-family: 'Open Sans';
  font-color: #444647;
  font-weight: normal;
  text-align: center;
  font-size: 15px;
  margin-top:5px;

}
h2.accountpage2{
  font-family: 'Open Sans';
  font-color: #444647;
  font-weight: normal;
  text-align: center;
  font-size: 15px;
  margin-top:20px;

}

h1.accountpage2{
  font-family: 'Open Sans';
  font-color: #444647;
  font-weight: normal;
  text-align: left;
  margin-left:75px;
  font-size: 20px;
  margin-top:20px;

}
h1.accountpage3{
  font-family: 'Open Sans';
  font-color: #444647;
  font-weight: bolder;
  text-align: center;
  font-size: 30px;
  margin-top:0px;

}
h1.accountpage4 {
    font-family: 'Open Sans';
  font-color: #444647;
  font-weight: normal;
  text-align: right;
  margin-right:75px;
  font-size: 20px;
  margin-top:20px;


}
h3.accountpage{
  font-family: 'Open Sans';
  font-color: #444647;
  font-weight: normal;
  text-align: left;
  margin-left:35px;
  font-size: 15px;
  margin-top:12px;

}
h3.accountpage2{
  font-family: 'Open Sans';
  font-color: #444647;
  font-weight: normal;
  text-align: right;
  margin-right:70px;
  font-size: 15px;
  margin-top:12px;


}

h2.opaque {
  font-family: 'Ubuntu';
  color: #A9A9A9;
  font-weight: 300;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

p.profile {
  text-align: center;

  margin-left:15px;
  margin-right:15px;
  font-family: 'Open Sans';
  margin-top: 15px;
  font-weight: 100;
  color: #444647;
  font-size: 15px;

}

p.profile2{
  text-align:left;
   margin-left:15px;
  margin-right:15px;
  font-family: 'Open Sans';
  font-weight: 100;
  color: #444647;
  font-size: 15px;
  margin-top:7px;
}



h1.auction{
  margin-top: 7px;
  margin-bottom: 3px;
  font-family: 'Ubuntu';
  font-weight: 300;
  font-size: 35;
  color:#444647;
}

h2.nav {
  font-family: 'Ubuntu';
  font-weight:100;
  color: #444647;
  font-size:25px;
  text-align:center;
  margin-left: 20px;
}


h1.auction2{
  margin-top: 7px;
  margin-bottom: 3px;
  font-family: 'Ubuntu';
  font-weight: 300;
  font-size: 30px;
  color:#444647;
}

h3.auction {
  margin-top: 6px;
  font-family: 'Ubuntu';
  font-weight: 100;
  color: #444647;
  font-size: 18px;
}

h3.navside {
  font-family: 'Ubuntu';
  font-weight:100;
  color: #444647;
  font-size:15px;
  text-align:left;
  margin-left: 10px;
}
h3.auction2{
  margin-top: 3px;
  font-family: 'Ubuntu';
  font-weight: 100;
  color: #444647;
  font-size: 10px;
}

p.auction2{
  text-align: justify;
  margin-left:3px;
  margin-right:3px;
  font-family: 'Open Sans';
  margin-top: 4px;
  font-weight: 100;
  color: #444647;
  font-size: 10px;

}
.bg-primary {
  background-color: #F05F40;
}
.bg-dark {
  background-color: #222222;
  color: white;
}
.text-faded {
  color: rgba(255, 255, 255, 0.7);
}
section {
  padding: 100px 0;
}
aside {
  padding: 50px 0;
}
.no-padding {
  padding: 0;
}

.light{
  color: #FFFFFF;
}

.thin{
  font-weight: lighter;
}

header {
  position: relative;
  width: 100%;
  min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  text-align: center;
}
header .header-content {
  position: relative;
  text-align: center;
  padding: 100px 15px 100px;
  width: 100%;
}
header .header-content .header-content-inner h1 {
  font-family: 'Ubuntu';
  color: #444647;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px;
}
header .header-content .header-content-inner hr {
  margin: 30px auto;
}
header .header-content .header-content-inner p {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  header {
    min-height: 100%;
  }
  header .header-content {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0 50px;
  }
  header .header-content .header-content-inner {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  header .header-content .header-content-inner h1 {
    font-size: 50px;
  }
  header .header-content .header-content-inner p {
    font-size: 18px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
.section-heading {
  margin-top: 0;
}
.service-box {
  max-width: 400px;
  margin: 50px auto 0;
}
@media (min-width: 992px) {
  .service-box {
    margin: 20px auto 0;
  }
}
.service-box p {
  margin-bottom: 0;
}
.portfolio-box {
  position: relative;
  display: block;
  max-width: 650px;
  margin: 0 auto;
}
.portfolio-box .portfolio-box-caption {
  color: white;
  opacity: 0;
  display: block;
  background: rgba(240, 95, 64, 0.9);
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  padding: 0 15px;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-size: 18px;
}
.portfolio-box:hover .portfolio-box-caption {
  opacity: 1;
}
.portfolio-box:focus {
  outline: none;
}
@media (min-width: 768px) {
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    font-size: 16px;
  }
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 22px;
  }
}
.call-to-action h2 {
  margin: 0 auto 20px;
}
.text-primary {
  font-family: 'Ubuntu';
  font-size: 30px;
  color: #444647;
}
.text-primary2 {
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 30px;
  color: #444647;
}


.text-primaryL {
  font-family: 'Ubuntu';
  font-size: 30px;
  color: #FFF;
}

.text-body{
  font-family: 'Ubuntu';
  font-size:18px;
  font-style: normal;
  font-variant: normal;
  font-weight: 100;
  color: #444647;
}
.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}
.btn-default {
  color: #222222;
  background-color: white;
  border-color: white;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #222222;
  background-color: #f2f2f2;
  border-color: #ededed;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: white;
  border-color: white;
}
.btn-default .badge {
  color: white;
  background-color: #222222;
}
.btn-primary {
  color: white;
  background-color: #F05F40;
  border-color: #F05F40;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: white;
  background-color: #ee4b28;
  border-color: #ed431f;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #F05F40;
  border-color: #F05F40;
}
.btn-primary .badge {
  color: #F05F40;
  background-color: white;
}
.btn {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  border: none;
  border-radius: 300px;
  font-weight: 700;
  text-transform: uppercase;
}
.btn-xl {
  padding: 15px 30px;
}
::-moz-selection {
  color: white;
  text-shadow: none;
  background: #222222;
}
::selection {
  color: white;
  text-shadow: none;
  background: #222222;
}
img::selection {
  color: white;
  background: transparent;
}
img::-moz-selection {
  color: white;
  background: transparent;
}
body {
  webkit-tap-highlight-color: #222222;
}
.dropbtn {
  margin-top:2px;
padding: 3px 3px;
font-family: 'Ubuntu';
font-weight: 100;
font-style: normal;
font-variant: normal;
font-size: 16px;
letter-spacing: 1px;
background-color: #fff;
color: #444647;
border: #444647;
border-style: solid;
border-width: 1px;
position:absolute;
top:10;
right:3;


}

/* The container <div> - needed to position the dropdown content */
.dropdown1 {
    position: relative;
    top:10;
    right:3;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown1-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown1-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown1-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown1:hover .dropdown1-content {
    display: block;
}



.filterbutton{
margin-top:2px;
padding: 4px 10px;
font-family: 'Ubuntu';
font-weight: 100;
font-style: normal;
font-variant: normal;
font-size: 16px;
letter-spacing: 1px;
background-color: #fff;
color: #444647;
border: #444647;
border-style: solid;
border-width: 1px;
position:absolute;
top:100px;
left:40px;
}

.filterstemp{
  margin-top:2px;
padding: 4px 10px;
font-family: 'Ubuntu';
font-weight: 100;
font-style: normal;
font-variant: normal;
font-size: 16px;
letter-spacing: 1px;
background-color: #fff;
color: #444647;
border: #444647;
border-style: solid;
border-width: 1px;
position:absolute;
top:100px;
right:40px;
}

.button1 {
margin-top:2px;
padding: 1px 1px;
font-family: 'Open Sans';
font-weight: 100;
font-style: normal;
font-variant: normal;
font-size: 20px;
letter-spacing: 1px;
color: #444647;
border: #0CB2E5;
border-style: solid;
border-width: 2px;
border-radius: 25px;
}

.button3 {
 font-family: 'Ubuntu';
margin-top:2px;
padding: 5px 5px;
font-style: normal;
  font-variant: normal;
  font-weight: 100;
font-size: 20px;
letter-spacing: 1px;
color: #444647;
border: #0CB2E5;
border-style: solid;
border-width: 2px;
border-radius: 25px;
}




.bluebutton {
padding: 10px 27px;

letter-spacing: 1px;

font-family: 'Ubuntu';
  font-weight: 100;
  font-size: 20px;
  color: #444647;

border: #0CB2E5;
border-style: solid;
border-width: 2px;
border-radius: 25px;
}

.greenbutton {
padding: 10px 20px;

letter-spacing: 1px;

font-family: 'Ubuntu';
  font-weight: 100;
  font-size: 20px;
  color: #444647;

border: #17CE17;
border-style: solid;
border-width: 2px;
border-radius: 25px;

}

.button2{
  font-family: 'Open Sans';
font-weight: 100;
font-style: normal;
font-variant: normal;
font-size: 20px;
letter-spacing: 1px;
color: #444647;
  margin-top: 3px;
}

.back{
  background-color: #E8E8E8;
}
.back2{
  background-color: #444647;

}

/***********************************************************************
*  OPAQUE NAVBAR SECTION
***********************************************************************/
.opaque-navbar {
    background-color: rgba(0,0,0,0);
  /* Transparent = rgba(0,0,0,0) / Translucent = (0,0,0,0.5)  */
    height: 60px;
    border-bottom: 0px;
    transition: background-color .5s ease 0s;
    font-family: 'Ubuntu';
    font-size: 20px;
    font-color: #444647;
    font-weight: 300;
   letter-spacing: 1px;


}

.opaque-navbar.opaque {
    background-color: white;
    height: 60px;
    transition: background-color .5s ease 0s;
    font-family: 'Ubuntu';
     font-size: 20px;
    color: #444647;
    font-weight: 300;
   letter-spacing: 1px;
}

ul.dropdown-menu {
    background-color: white;
}


@media (max-width: 992px) {
  body
  {
    background:white;
  }
  .opaque-navbar {

    background-color: white;
    height: 60px;
    transition: background-color .5s ease 0s;
    font-family: 'Ubuntu';
     font-size: 20px;
    color: #444647;
    font-weight: 300;
   letter-spacing: 1px;
}







.bigfont {
    margin-top: 60px;
    font-family: 'Ubuntu';
    font-size: 70px;
    color: #444647;
}

.mediumfont{
    font-family: 'Ubuntu';
    font-size: 40px;
    color: #444647;
}


.bg4{
   background-image: url("https://s3.amazonaws.com/inku-background-video/Web+1920+%E2%80%93+1.png");
}



.bgGray {
  color: #444647;
  opacity: 50%;
}


.colorstrip{
    colo
    width: 100%;

}




.btn.btn-primary {
    background-color: transparent;
    border: solid;

    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}


.btn.btn-primary:hover {

    opacity: 0.7;
    color: #050033;
}

.btn {
    border: 1px;
    border-radius: 290px;
    border-color: #050033;
    font-family: 'Helvetica Neue',Arial,sans-serif;
    color: #050033;
}

.btn-xl {
    border:1px solid #f0f0f0;
    border-color:#f0f0f0;
    padding: 15px 30px;
    font-size: 20px;
    color: #FFFFFF;
}

.btn-x2 {
   background-color: transparent;
   border-radius: 25px;
   border-color: #17CE17;
   padding: 15px 32px;
    text-align: center;
    font-family: 'Ubuntu';
    font-style: normal;
  font-variant: normal;
    font-weight:100;
    color: #444647;
    font-size: 16px;


}

.btn-x3{
  background-color: transparent;
  border-color:#0CB2E5;
  border-radius: 25px;
  padding: 15px 32px;
    text-align: center;
    font-family: 'Ubuntu';
    font-style: normal;
  font-variant: normal;
 font-style: normal;
  font-variant: normal;
  font-weight: 100;
    font-weight:100;
    color: #444647;
    font-size: 15px;
}

.divider{
    width:5px;
    height:auto;
    display:inline-block;
}



.bod {
  font-family: 'Ubuntu';
  font-style: normal;
  font-variant: normal;

  font-weight: 100;
  font-size: 18px;
  color: #444647;
}

.submit {
  size: 20;
  height: 30px;
  background-color: #0CB2E5;
  color: #F3F3F3;
}



