<!DOCTYPE html>
<html>
<body>

<p style="font-family:calibri,sans-serif;font-size: 15pt;">
    <b>
        Hello,
    </b>
</p>
<p style="font-family:calibri,sans-serif;font-size: 15pt;">
    A new user just signed up at Inku.io. You can check in <a href="http://{{ host }}/admin">admin-panel</a>.
</p>

</body>
</html>