{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="Inku: Small Business Lending" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="Codeply">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/ionicons.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}"/>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />




    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-87388332-1', 'auto');
        ga('send', 'pageview');
    </script>
</head>
<body>
<div class="navbar navbar-fixed-top opaque-navbar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navMain">
                <span class="glyphicon glyphicon-chevron-right" style="color:white;"></span>

            </button>
            <a class="navbar-brand" href="/"><img src="https://s3.amazonaws.com/inku-background-video/Gray.png" height="40"></a>
        </div>
        <div class="collapse navbar-collapse" id="navMain">
            <ul class="nav navbar-nav pull-right">
                {% if user.is_authenticated %}
                <li><a href = "{% url 'borrower:index' %}" class="button2">borrow</a></li>
                <li><a href = "{% url 'lender:index' %}" class="button2">invest</a></li>
                <li><a href="{% url 'logout' %}" class="button1">logout</a></li>
                {% else %}
                <li><a href = "{% url 'signup_borrower' %}" class="button2">borrow</a></li>
                <li><a href = "{% url 'signup_lender' %}" class="button2">invest</a></li>
                <li><a href="{% url 'login' %}" class="button1">login</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>


{% block content %}
{% endblock %}

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.easing.min.js' %}"></script>
<script src="{% static 'js/wow.js' %}"></script>
<script src="{% static 'js/scripts.js' %}"></script>
<script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>

<script type="text/javascript">
    $(function () {
        $('.dtpick').datepicker({
            format: 'yyyy-mm-dd',
            autoclose: true,
            startView: "years",
            endDate: "2006-12-31"
        });
    })
</script>

{% include 'inku_app/messages.html' %}

</body>
</html>