{% extends 'inku_app/base.html' %}

{% block title %}Inku{% endblock %}

{% block content %}

<header class=bgPAP2>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">Empowered Lending</h1>
                <hr style="width: 50px">
                <h3 class="heading">Bridging the gap to sustainable growth</h3>
            </div>
        </div>
    </header>

   <div class="colorstrip">
    <div class="back2">
    <br>
        <div class="container">
            <div class="row">
        
                     <div class="col-sm-4 text-center">
                       <div class="feature">

                       <img height="70" src="https://s3.amazonaws.com/inku-background-video/line-graph+(1).png">
                       <br><br>
                        <p class="home">Lower Interest Rates</br> for Borrowers</p>
                    </div>
                  </div>
                  <div class="col-sm-4 text-center">
                       <div class="feature">

                       <img height="70"  src= "https://s3.amazonaws.com/inku-background-video/list+(1).png">
                       <br><br>
                        <p class="home">Maximized B-BBEE Points </br>for investors</p>
                    </div>
                  </div>

                  <div class="row">
                     <div class="col-sm-4 text-center">
                       <div class="feature">
                        <img height="70"   src= "https://s3.amazonaws.com/inku-background-video/teamwork+(2).png">
                        <br><br>
                        <p class="home">Supply Chain Development</p>
                    </div>
                    </div>
                   </div>

        </div>
        </div>
        </div>
        </div>

    <section class="back" id="one">
         <div class="header-content"> 
            <div class = "container">
            <div class="row">
                <div class="col-lg-12 text-center">
                <br><br><br><br>
                    <h1 class="text-primary2">
                        Inku is a community for ESD financing, where we provide the platform to connect deserving black-owned businesses and corporate ESD programs.
                    </h1>
                  
                <br><br><br><br><br>
        </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="text-center">
              <a class="greenbutton" href = "{% url 'signup_borrower' %}">Borrow</a>
              &nbsp;
              &nbsp;
              <a class="bluebutton" href = "{% url 'signup_lender' %}">Invest</a>
            </div>
          </div>
        </div>
        </div>
              
        </div>
        </div>
    </section>



   <div class="colorstrip">
    <div class="back2">
    <br>
        <div class="container">
             <div class="col-lg-12 text-center">
                    <h2 class="text-primaryL">How it Works</h2>
                    <br><br>
         <div class="row">
            <div class="col-sm-1 text-center">
                 <div class="feature">

                       <img height="70" src="https://s3.amazonaws.com/inku-background-video/note+(1).png">
                       <br><br>
                       <p class="home">Borrower Applies</p>
                    </div>
            </div>
            <div class="col-sm-1 text-center">
             <div class="feature">
                        <br><br>
                       <img height="40" src="https://s3.amazonaws.com/inku-background-video/next.png">
                
                    </div>
            </div>
            <div class="col-sm-1 text-center">
                 <div class="feature">

                       <img height="70" src="https://s3.amazonaws.com/inku-background-video/search+(1).png">
                       <br><br>
                       <p class="home">Assess Application</p>
                    </div>
            </div>
             <div class="col-sm-1 text-center">
             <div class="feature">
                        <br><br>
                       <img height="40" src="https://s3.amazonaws.com/inku-background-video/next.png">
                
                    </div>
            </div>
            <div class="col-sm-1 text-center">
                 <div class="feature">

                       <img height="70" src="https://s3.amazonaws.com/inku-background-video/checked+(2).png">
                       <br><br>
                        <p class="home">Post to </br>marketplace</p>
                    </div>
            </div>
             <div class="col-sm-1 text-center">
             <div class="feature">
                        <br><br>
                       <img height="40" src="https://s3.amazonaws.com/inku-background-video/next.png">
                
                    </div>
            </div>
            <div class="col-sm-1 text-center">
                 <div class="feature">

                       <img height="70" src="https://s3.amazonaws.com/inku-background-video/checked+(3).png">
                       <br><br>
                        <p class="home">Funded by</br> investor</p>
                    </div>
            </div>
              <div class="col-sm-1 text-center">
             <div class="feature">
                        <br><br>
                       <img height="40" src="https://s3.amazonaws.com/inku-background-video/next.png">
                
                    </div>
            </div>
            <div class="col-sm-1 text-center">
                 <div class="feature">

                       <img height="70" src="https://s3.amazonaws.com/inku-background-video/network+(1).png">
                       <br><br>
                        <p class="home">Monthly repayments</p>
                    </div>
            </div>

             <div class="col-sm-1 text-center">
             <div class="feature">
                        <br><br>
                       <img height="40" src="https://s3.amazonaws.com/inku-background-video/next.png">
                
                    </div>
            </div>
            <div class="col-sm-1 text-center">
                 <div class="feature">
                       <img height="70" src="https://s3.amazonaws.com/inku-background-video/teamwork+(3).png">
                       <br><br>
                        <p class="home">Earn ESD points</p>
                    </div>
            </div>
        </div>
        <br><br>  
        </div>
        </div>
        </div>
  
        <section class="back" id="one">
         <div class="header-content"> 
            <div class = "container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="text-primary">
                       Contact Us
                    </h1>
                    <h1 class="text-primary2">join@inku.io</h2>
            
                <br><br><br><br>
        </div>
        </div>
       
              
        </div>
        </div>
    </section>
  






{% endblock %}