{% extends 'inku_app/base.html' %}
{% load widget_tweaks %}

{% block title %}
    Borrower SignUp Page
{% endblock %}

{% block content %}
    <section class="services2">
        <div class="container">
            <div class="col-md-4 col-md-offset-4">
                <form method="post" action="{% url 'signup_borrower' %}" id="signup_form">
{#                <form method="post" action="{% url 'account_signup' %}" id="signup_form">#}
                    {% csrf_token %}
                    <h2 class="signup" align="center">{{ 'Borrower Registration' }}</h2>
                    <br><br>
                    <h3 class="signup" align="center">Basic info</h3>
                    <br>
                    <div class="row">
                        <div class="form-group">
                            {{ form.email|append_attr:"class:form-control"|append_attr:"placeholder:Email"  }}
                            {% for error in form.email.errors %}
                                <p class="help-block">{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            {{ form.password1|append_attr:"class:form-control"|append_attr:"placeholder:Password" }}
                            {% for error in form.password1.errors %}
                                <p class="help-block">{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            {{ form.password2|append_attr:"class:form-control"|append_attr:"placeholder:Repeat password"  }}
                            {% for error in form.password2.errors %}
                                <p class="help-block">{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>

                    <br><br>
                    <h3 class="signup" align="center">Business info</h3>
                    <br>
                    <div class="row">
                        <div class="form-group">
                            {{ form.business_name|append_attr:"class:form-control"|append_attr:"placeholder:Business name"  }}
                            {% for error in form.business_name.errors %}
                                <p class="help-block">{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            {{ form.business_alias|append_attr:"class:form-control"|append_attr:"placeholder:Business alias"  }}
                            {% for error in form.business_alias.errors %}
                                <p class="help-block">{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            {{ form.address|append_attr:"class:form-control"|append_attr:"placeholder:Street address"  }}
                            {% for error in form.address.errors %}
                                <p class="help-block">{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            {{ form.city|append_attr:"class:form-control"|append_attr:"placeholder:City"  }}
                            {% for error in form.city.errors %}
                                <p class="help-block">{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            {{ form.business_registration_number|append_attr:"class:form-control"|append_attr:"placeholder:Registration number"  }}
                            {% for error in form.business_registration_number.errors %}
                                <p class="help-block">{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            {{ form.business_time_in_business|append_attr:"class:form-control"|append_attr:"placeholder:Time in business"  }}
                            {% for error in form.business_time_in_business.errors %}
                                <p class="help-block">{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            {{ form.business_annual_revenue|append_attr:"class:form-control"|append_attr:"placeholder:Annual revenue"  }}
                            {% for error in form.business_annual_revenue.errors %}
                                <p class="help-block">{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            {{ form.business_number_employees|append_attr:"class:form-control"|append_attr:"placeholder:Number of employees"  }}
                            {% for error in form.business_number_employees.errors %}
                                <p class="help-block">{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <br><br>
                    <h3 class="signup" align="center">Member info</h3>
                    <br>
                    <div class="row">
                        <div class="form-group">
                            {{ form.first_name|append_attr:"class:form-control"|append_attr:"placeholder:Name"  }}
                            {% for error in form.first_name.errors %}
                                <p class="help-block">{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            {{ form.last_name|append_attr:"class:form-control"|append_attr:"placeholder:Surname"  }}
                            {% for error in form.last_name.errors %}
                                <p class="help-block">{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            {{ form.date_of_birth|append_attr:"class:dtpick form-control"|append_attr:"placeholder:Date of birth"  }}
                            {% for error in form.date_of_birth.errors %}
                                <p class="help-block">{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            {{ form.identity_number|append_attr:"class:form-control"|append_attr:"placeholder:Identity number"  }}
                            {% for error in form.identity_number.errors %}
                                <p class="help-block">{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            {{ form.phone_number|append_attr:"class:form-control"|append_attr:"placeholder:Phone number"  }}
                            {% for error in form.phone_number.errors %}
                                <p class="help-block">{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <button class="signupbutton btn btn-info btn-lg btn-block" id="signup_button" type="submit">Register</button>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
