{% extends 'inku_app/base.html' %}
{% load widget_tweaks %}

{% block title %}
    Login Page
{% endblock %}

{% block content %}
    <section class="services2">
        <div class="container">
            <div class="col-md-4 col-md-offset-4">
                <img src="https://s3.amazonaws.com/inku-background-video/Blue+With+Gray+Logo.png" height="200">
                <form method="post" action="{% url 'login' %}" id="login_form">
                    {% csrf_token %}
                    <h3 align="center"></h3>
                    {% for error in form.non_field_errors %}
                        <p class="help-block">{{ error }}</p>
                    {% endfor %}
                    <div class="row">
                        <div class="form-group">
                            <label for="{{ form.username.id_for_label }}">Email:</label>
                            {{ form.username|append_attr:"class:form-control"  }}
                            {% for error in form.username.errors %}
                                <p class="help-block">{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label for="{{ form.password.id_for_label }}">Password:</label>
                            {{ form.password|append_attr:"class:form-control" }}
                            {% for error in form.password.errors %}
                                <p class="help-block">{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <button class="lendersignup btn btn-info btn-lg btn-block" id="signup_button" type="submit">Login</button>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
