{# This is a Default Signup page for django-allauth app. The form here is for signing up a Borrower account #}

{% extends 'inku_app/base.html' %}

{% block title %}
    Borrower SignUp Page
{% endblock %}

{% block content %}

        <section class="services2">
        <div class="container">
            <div class="col-md-4 col-md-offset-4">
                <h3 align="center">{{ 'Choose role to SignUp' }}</h3>
                <div class="row">
                    <a class="btn btn-info btn-lg btn-block" id="borrower_signup_button" role="button" href="{% url 'signup_borrower' %}">Register as borrower</a>
                </div>
                <div class="text-center"><h3>OR</h3></div>
                <div class="row">
                    <a class="btn btn-info btn-lg btn-block" id="borrower_signup_button" role="button" href="{% url 'signup_lender' %}">Register as lender</a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
