{% extends 'inku_app/base.html' %}

{% block title %}Inku{% endblock %}

{% block content %}


    <script type="text/javascript">
        function updateTextInput(val) {
            document.getElementById('textInput').value=val;
        }
    </script>

    <script type="text/javascript">
        function calculate(val){
            var x = val;
            var ben;
            if(x < .5){
                ben = 70;
            }
            else{
                var y = 10.5;
                var z = 50;
                ben = (y-x)+z;
            }
            result.value = ben;
        }
    </script>

    <!--script type="text/javascript">

      function calculate() {
        var x = document.getElementById('textInput').value;
        var y = 10.5;
        var z = 50;
        var ben = (y-x)+z;
        result.value = ben;

    }
    </script!-->


    <section class="bgPAP">

        <div class= "container">
            <div class= "row">


                <h1 style="font-size:43px; font-weight:100">Business Profile</h1>

                <hr width="30%" class="dark">

            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="profilebox">

                        <img class="profilepicture" src="https://s3.amazonaws.com/inku-background-video/Shop.png" width="100%">
                        <h2 class="text-center">Jeff's Welding Co.</h2>
                        <h2 class="opaque">Manufacturing</h2>
                        <p class="profile">Jeff's Welding Co. needs R100,000 rand in bridge financing to fulfill an order from a corporate supplier. The contract has been signed but they need capital to fullfill it.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="profilebox">
                        <h1>Loan Information</h1>
                        <div class="littlebox2">
                            <div class="col-xs-4 text-center verticalright">
                                <h3 class="auction2">Inku Score</h3>
                                <h1 class="auction">A</h1>
                            </div>
                            <div class="col-xs-4 text-center verticalright">
                                <h3 class="auction2">Int. Rate</h3>
                                <h1 class="auction2">6.4%</h1>
                            </div>
                            <div class="col-xs-4 text-center">
                                <h3 class="auction2">Term(Months)</h3>
                                <h1 class="auction">36</h1>
                            </div>
                        </div>
                        <h3>Loan Amount</h3>
                        <h1>R 100,000.00</h1>
                        <h3>Remaining</h3>
                        <h1>R 40,000.00 </h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="profilebox2">
                        <h2>Company Bio</h2>
                        <br>
                        <p class="profile" style="text-align: justify">Jeff started Jeff's Welding Co. in 2013 in Gugulethu and has been
                            servicing a number of corporate clients since. He works out of a
                            garage and has 4 employees. He is hoping to expand his services
                            and hire more welders. He also would like to expand his facilities
                            and get a larger work shop. He now simply needs bridge
                            financing for his latest contract.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="profilebox2">
                        <h1>Fast Facts</h1>
                        <div class="col-lg-6">
                            <div class="loanbox">
                                <p class="profile2">Employees:   4</p>
                            </div>
                            <div class="loanbox">
                                <p class="profile2">Annual Turnover: R1,400,000</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="loanbox">
                                <p class="profile2">Founded:   2013</p>
                            </div>
                            <div class="loanbox">
                                <p class="profile2">Quick Ratio: 4.3</p>
                            </div>
                        </div>
                        <br><br><br><br><br><br>
                        <h3 class="text-center">Black Ownership: 100%</h3>
                    </div>
                </div>
            </div>
            <div class="profilebox3">
                <h1>Make a Bid</h1>
                <br><br>
                <form>
                    <input id="test" min="0" max="10.5" step=".5" type="range" onchange="updateTextInput(this.value); calculate(this.value);"/>
                    <br>

                </form>
                <div class="col-lg-6">
                    <h2>Interest Rate: <input class="inputval" type="text" id="textInput" value="5">%</h2>
                </div>
                <div class="col-lg-6">
                    <h2>Benefit Factor: <input class="inputval" type="text" id="result" value="55.5">%</h2>
                </div>
                <br>
                <h3>Deposit:  <input type="text"></h3>
                <br>
                <a class="bluebutton">Submit</a>


            </div>

        </div>
    </section>












{% endblock %}