{% extends 'inku_app/base.html' %}

{% block title %}
    Borrower portal main page
{% endblock %}

{% block content %}
    <section class="services2">
        <div class="container">
            <div class="col-lg-12 text-center">
                <img src="https://s3.amazonaws.com/inku-background-video/green+with+gray.png" height="200">
                <br>
                
                <br><br><br>
                <div class="col-lg-12 text-center">
                    <a href="{% url 'borrower:request_loan' %}" class="signupbutton btn btn-info btn-lg" role="button">Apply for loan</a>
                    <a href="#" class="signupbutton btn btn-info btn-lg" role="button">My Account</a>
                </div>
            </div>
            <div>
            </div>
        </div>
    </section>
{% endblock %}