{% extends 'inku_app/base.html' %}
{% load widget_tweaks %}

{% block title %}
    Inku - Request loan
{% endblock %}

{% block content %}
    <section class="services2">
        <div class="container">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="margin-top-0 text-dark">Borrower request loan page</h2>
                <br>
                <br>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#loan_data" aria-controls="loan_data" role="tab" data-toggle="tab">Loan info</a></li>
                    <li role="presentation"><a href="#bank_info" aria-controls="bank_info" role="tab" data-toggle="tab">Bank info</a></li>
                    <li role="presentation"><a href="#documents" aria-controls="documents" role="tab" data-toggle="tab">Documents</a></li>
                    <li role="presentation"><a href="#company_info" aria-controls="company_info" role="tab" data-toggle="tab">Company info</a></li>
                </ul>

                <form class="form-horizontal" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for error in form.non_field_errors %}
                        <p class="help-block">{{ error }}</p>
                    {% endfor %}

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="loan_data">
                            <br>
                            <div class="row">
                                <div class="form-group">
                                    <label for="{{ form.business_sector.id_for_label }}">{{ form.business_sector.label }}</label>
                                    {% render_field form.business_sector placeholder=form.business_sector.label class="form-control" %}
                                    {% for error in form.business_sector.errors %}
                                        <span class="help-block">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <label for="{{ form.loan_amount.id_for_label }}">{{ form.loan_amount.label }}</label>
                                    {% render_field form.loan_amount placeholder=form.loan_amount.label class="form-control" %}
                                    {% for error in form.loan_amount.errors %}
                                        <span class="help-block">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <label for="{{ form.term.id_for_label }}">{{ form.term.label }}</label>
                                    {% render_field form.term placeholder=form.term.label class="form-control" %}
                                    {% for error in form.term.errors %}
                                        <span class="help-block">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <label for="{{ form.purpose.id_for_label }}">{{ form.purpose.label }}</label>
                                    {% render_field form.purpose placeholder=form.purpose.label class="form-control" %}
                                    {% for error in form.purpose.errors %}
                                        <span class="help-block">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <label for="{{ form.bridge_finance.id_for_label }}">{{ form.bridge_finance.label }}</label>
                                    {% render_field form.bridge_finance placeholder=form.bridge_finance.label class="form-control" %}
                                    {% for error in form.bridge_finance.errors %}
                                        <span class="help-block">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane" id="bank_info">
                            <br>
                            <div class="row">
                                <div class="form-group">
                                    <label for="{{ form.bank_name.id_for_label }}">{{ form.bank_name.label }}</label>
                                    {% render_field form.bank_name placeholder=form.bank_name.label class="form-control" %}
                                    {% for error in form.bank_name.errors %}
                                        <span class="help-block">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <label for="{{ form.branch_code.id_for_label }}">{{ form.branch_code.label }}</label>
                                    {% render_field form.branch_code placeholder=form.branch_code.label class="form-control" %}
                                    {% for error in form.branch_code.errors %}
                                        <span class="help-block">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <label for="{{ form.account_number.id_for_label }}">{{ form.account_number.label }}</label>
                                    {% render_field form.account_number placeholder=form.account_number.label class="form-control" %}
                                    {% for error in form.account_number.errors %}
                                        <span class="help-block">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="documents">
                            <br>
                            <div class="row">
                                <div class="form-group">
                                    <label for="{{ form.founding_statement.id_for_label }}">{{ form.founding_statement.label }}</label>
                                    {% render_field form.founding_statement placeholder=form.founding_statement.label class="form-control" %}
                                    {% for error in form.founding_statement.errors %}
                                        <span class="help-block">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <label for="{{ form.bank_statement.id_for_label }}">{{ form.bank_statement.label }}</label>
                                    {% render_field form.bank_statement placeholder=form.bank_statement.label class="form-control" %}
                                    {% for error in form.bank_statement.errors %}
                                        <span class="help-block">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <label for="{{ form.bar_coded_idd.id_for_label }}">{{ form.bar_coded_idd.label }}</label>
                                    {% render_field form.bar_coded_idd placeholder=form.bar_coded_idd.label class="form-control" %}
                                    {% for error in form.bar_coded_idd.errors %}
                                        <span class="help-block">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="company_info">
                            <br>
                            <div class="row">
                                <div class="form-group">
                                    <label for="{{ form.picture_of_business.id_for_label }}">{{ form.picture_of_business.label }}</label>
                                    {% render_field form.picture_of_business placeholder=form.picture_of_business.label class="form-control" %}
                                    {% for error in form.picture_of_business.errors %}
                                        <span class="help-block">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <label for="{{ form.description.id_for_label }}">{{ form.description.label }}</label>
                                    {% render_field form.description placeholder=form.description.label class="form-control" %}
                                    {% for error in form.description.errors %}
                                        <span class="help-block">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <label for="{{ form.black_ownership_percent.id_for_label }}">{{ form.black_ownership_percent.label }}</label>
                                    {% render_field form.black_ownership_percent placeholder=form.black_ownership_percent.label class="form-control" %}
                                    {% for error in form.black_ownership_percent.errors %}
                                        <span class="help-block">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="row">
                        <div class="form-group">
                            <button type="submit" class="btn btn-success">
                                Submit request
                            </button>
                            <a href="{% url 'borrower:index' %}" class="btn btn-default">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}