{% extends 'inku_app/base.html' %}
{% load widget_tweaks %}

{% block title %}
    Inku - Deposit loan
{% endblock %}

{% block content %}
    <section class="services2">
        <div class="container">
            <div class="col-md-4 col-md-offset-4">
                <h2 class="margin-top-0 text-dark">Lender deposit loan page</h2>
                <br>
                <br>
                <form class="form-horizontal" method="POST">
                    {% csrf_token %}
                    {% for error in form.non_field_errors %}
                        <p class="help-block">{{ error }}</p>
                    {% endfor %}

                    {% for field in form %}
                        <div class="row">
                            <div class="form-group">
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {% render_field field placeholder=field.label class="form-control" %}
                                {% for error in field.errors %}
                                    <span class="help-block">{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}

                    <div class="row">
                        <div class="form-group">
                            <button type="submit" class="btn btn-success">
                                Submit request
                            </button>
                            <a href="{% url 'lender:index' %}" class="btn btn-default">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
            <div>
            </div>
        </div>
    </section>
{% endblock %}