{% extends 'inku_app/base.html' %}

{% block title %}
    Lender portal main page
{% endblock %}

{% block content %}
    <section class="services2">
        <div class="container">
            <div class="col-lg-12 text-center">
                <img src="https://s3.amazonaws.com/inku-background-video/Blue+With+Gray+Logo.png" height="200">
                <br><br>
                <h1 class="margin-top-0 text-dark">Lender Portal</h1>
                <br><br><br>
                <br>
                <div class="col-lg-12 text-center">
                    <a href="{% url 'lender:loan_marketplace' %}" class="lendersignup btn btn-info btn-lg" role="button">Marketplace</a>
                    <a href="{% url 'lender:lender_my_account' %}" class="lendersignup btn btn-info btn-lg" role="button">My Account</a>
                    <a href="{% url 'lender:deposit_loan' %}" class="lendersignup btn btn-info btn-lg" role="button">Deposit</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}