
{% extends 'inku_app/base.html' %}
{% load widget_tweaks %}

{% block title %}
    Inku - Deposit loan
{% endblock %}

{% block content %}
<section class="bgPAP">
  

    <div class= "container">
    <div class= "row">

   
      <h1 style="font-size:43px; font-weight:300">Investments</h1>

      <hr width="30%" class="dark">
      <div class="container">
      <br>
  <div class="row seven-cols">
  <div class="investmentrow">
    <div class="col-md-1">
      <h2 class="accountpage">Business Name</h2>
    </div>
    <div class="col-md-1">
      <h2 class="accountpage">Loan Principal</h2>
    </div>
    <div class="col-md-1">
      <h2 class="accountpage">Issue Date</h2>
    </div>
    <div class="col-md-1">
      <h2 class="accountpage">Status</h2>
    </div>
    <div class="col-md-1">
      <h2 class="accountpage">Total Paid</h2>
    </div>
    <div class="col-md-1">
      <h2 class="accountpage">Next Payment</h2>
    </div>
    <div class="col-md-1">
      <h2 class="accountpage">Interest Rate</h2>
    </div>
    </div>
  </div>
    <div class="row seven-cols">
  <div class="investmentrow2">
    <div class="col-md-1">
     <a  class="text-center" id="clickMe"><br><br><br>View More</a>
      <h2 class="accountpage2">Jeff's Welding Co.</h2>
    </div>
    <div class="col-md-1">
      <h2 class="accountpage2">R150,000.00</h2>
    </div>
    <div class="col-md-1">
      <h2 class="accountpage2">January 18th, 2017</h2>
    </div>
    <div class="col-md-1">
      <h2 class="accountpage2">Outstanding</h2>
    </div>
    <div class="col-md-1">
      <h2 class="accountpage2">R47,000.00</h2>
    </div>
    <div class="col-md-1">
      <h2 class="accountpage2">May 18th, 2017</h2>
    </div>
    <div class="col-md-1">
      <h2 class="accountpage2">3.4%</h2>
    </div>
    </div>
  </div>
    <div class="row seven-cols">
  <div class="investmentrow2">
    <div class="col-md-1">
      <h2 class="accountpage2">Jeff's Welding Co.</h2>
    </div>
    <div class="col-md-1">
      <h2 class="accountpage2">R150,000.00</h2>
    </div>
    <div class="col-md-1">
      <h2 class="accountpage2">January 18th, 2017</h2>
    </div>
    <div class="col-md-1">
      <h2 class="accountpage2">Outstanding</h2>
    </div>
    <div class="col-md-1">
      <h2 class="accountpage2">R47,000.00</h2>
    </div>
    <div class="col-md-1">
      <h2 class="accountpage2">May 18th, 2017</h2>
    </div>
    <div class="col-md-1">
      <h2 class="accountpage2">3.4%</h2>
    </div>
    </div>
  </div>
    <div class="row seven-cols">
  <div class="investmentrow2">
    <div class="col-md-1">
      <h2 class="accountpage2">Jeff's Welding Co.</h2>
    </div>
    <div class="col-md-1">
      <h2 class="accountpage2">R150,000.00</h2>
    </div>
    <div class="col-md-1">
      <h2 class="accountpage2">January 18th, 2017</h2>
    </div>
    <div class="col-md-1">
      <h2 class="accountpage2">Outstanding</h2>
    </div>
    <div class="col-md-1">
      <h2 class="accountpage2">R47,000.00</h2>
    </div>
    <div class="col-md-1">
      <h2 class="accountpage2">May 18th, 2017</h2>
    </div>
    <div class="col-md-1">
      <h2 class="accountpage2">3.4%</h2>
    </div>
    </div>
  </div>
    <div class="row seven-cols">
  <div class="investmentrow2">
    <div class="col-md-1">
      <h2 class="accountpage2">Jeff's Welding Co.</h2>
    </div>
    <div class="col-md-1">
      <h2 class="accountpage2">R150,000.00</h2>
    </div>
    <div class="col-md-1">
      <h2 class="accountpage2">January 18th, 2017</h2>
    </div>
    <div class="col-md-1">
      <h2 class="accountpage2">Outstanding</h2>
    </div>
    <div class="col-md-1">
      <h2 class="accountpage2">R47,000.00</h2>
    </div>
    <div class="col-md-1">
      <h2 class="accountpage2">May 18th, 2017</h2>
    </div>
    <div class="col-md-1">
      <h2 class="accountpage2">3.4%</h2>
    </div>
    </div>
  </div>
    <div class="row seven-cols">
  <div class="investmentrow2">

    <div class="col-md-1">
      <h2 class="accountpage2">Jeff's Welding Co.</h2>
    </div>
    <div class="col-md-1">
      <h2 class="accountpage2">R150,000.00</h2>
    </div>
    <div class="col-md-1">
      <h2 class="accountpage2">January 18th, 2017</h2>
    </div>
    <div class="col-md-1">
      <h2 class="accountpage2">Outstanding</h2>
    </div>
    <div class="col-md-1">
      <h2 class="accountpage2">R47,000.00</h2>
    </div>
    <div class="col-md-1">
      <h2 class="accountpage2">May 18th, 2017</h2>
    </div>
    <div class="col-md-1">
      <h2 class="accountpage2">3.4%</h2>
    </div>
    </div>
  </div>
    <div class="row seven-cols">
  <div class="investmentrow2">
    <div class="col-md-1">
      <h2 class="accountpage2">Jeff's Welding Co.</h2>
    </div>
    <div class="col-md-1">
      <h2 class="accountpage2">R150,000.00</h2>
    </div>
    <div class="col-md-1">
      <h2 class="accountpage2">January 18th, 2017</h2>
    </div>
    <div class="col-md-1">
      <h2 class="accountpage2">Outstanding</h2>
    </div>
    <div class="col-md-1">
      <h2 class="accountpage2">R47,000.00</h2>
    </div>
    <div class="col-md-1">
      <h2 class="accountpage2">May 18th, 2017</h2>
    </div>
    <div class="col-md-1">
      <h2 class="accountpage2">3.4%</h2>
    </div>
    </div>
  </div>
    <div class="row seven-cols">
  <div class="investmentrow2">
    <div class="col-md-1">
      <h2 class="accountpage2">Jeff's Welding Co.</h2>
    </div>
    <div class="col-md-1">
      <h2 class="accountpage2">R150,000.00</h2>
    </div>
    <div class="col-md-1">
      <h2 class="accountpage2">January 18th, 2017</h2>
    </div>
    <div class="col-md-1">
      <h2 class="accountpage2">Outstanding</h2>
    </div>
    <div class="col-md-1">
      <h2 class="accountpage2">R47,000.00</h2>
    </div>
    <div class="col-md-1">
      <h2 class="accountpage2">May 18th, 2017</h2>
    </div>
    <div class="col-md-1">
      <h2 class="accountpage2">3.4%</h2>
    </div>
    </div>
  </div>
</div>
      
    </div>
    <br><br>

 
     </div>


  
 
    </section>

    {% endblock %}