{% extends 'inku_app/base.html' %}
{% load humanize common_tags %}

{% block title %}Inku{% endblock %}

{% block content %}

    <script type="text/javascript">
        function openNav() {
            document.getElementById("mySidenav").style.width = "300px";
            document.getElementById("main").style.marginLeft = "300px";
            document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("main").style.marginLeft= "0";
            document.body.style.backgroundColor = "white";
        }
    </script>

    <section class="bgPAP">
        <div class= "container">
            <!-- Filters -->
            <div class= "row">
                <div id="mySidenav" class="sidenav">
                    <h2 class="nav">&#9776;&nbsp;Filters</h2>
                    <br>
                    <h3 class="navside">Industry</h3>
                    <hr class="dark2">
                    <div class="border row">
                        <div class="border col-md-6">
                            <div class="inputleft">
                                <form>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value="">Retail</label>
                                    </div>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value="">Manufacturing</label>
                                    </div>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value="">Wholesale</label>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="border col-md-6">
                            <div class="inputleft">
                                <form>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value="">Agriculture</label>
                                    </div>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value="">Construction</label>
                                    </div>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value="">Services</label>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <h3 class="navside">Term</h3>
                    <hr class="dark2">
                    <div class="border row">
                        <div class="border col-md-6">
                            <div class="inputleft">
                                <form>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value="">&lt; 12 Months</label>
                                    </div>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value="">12 Months</label>
                                    </div>

                                </form>
                            </div>

                        </div>
                        <div class="border col-md-6">
                            <div class="inputleft">
                                <form>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value="">18 Months</label>
                                    </div>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value="">>24 Months</label>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>

                    <h3 class="navside">Inku Score</h3>
                    <hr class="dark2">
                    <div class="border row">
                        <div class="border col-md-6">
                            <div class="inputleft">
                                <form>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value="">A</label>
                                    </div>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value="">B</label>
                                    </div>

                                </form>
                            </div>

                        </div>
                        <div class="border col-md-6">
                            <div class="inputleft">
                                <form>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value="">C</label>
                                    </div>
                                    <div class="checkbox">
                                        <label><input type="checkbox" value="">D</label>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                    <hr class="dark2">
                    <br><br><br><br>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="text-center">
                                <span class="navbutton" style="cursor:pointer" onclick="closeNav()">Apply</span>
                                &nbsp;
                                &nbsp;
                                <span class="navbutton" style="cursor:pointer" onclick="closeNav()">Close</span>
                            </div>
                        </div>
                    </div>
                </div>

                <span class="filterbutton" style="cursor:pointer" onclick="openNav()">&#9776;  Filters</span>

                <select class=filterstemp>
                    <option value="" disabled selected>Sort By</option>
                    <option value="2">Time</option>
                    <option value="3">Interest</option>
                    <option value="4">Inku Score</option>
                    <option value="5">Term</option>
                    <option value="6">Principal</option>
                </select>

                <h1 style="font-size:43px; font-weight:100">Marketplace</h1>

                <hr width="90%" class="dark">
            </div>

            <!-- Loan request items -->
            <div class="row">
                {% for loan_request in loan_requests %}
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <div class="loan">
                            <a href="{% url 'loans:loan_request_details' loan_request.pk %}" class="text-center" id="clickMe"><br><br><br>View More</a>

                            <div class="countdown">
                                <p style="color:#444647">{{ loan_request.end_at_date|loan_reqest_remaining_time }}</p>
                            </div>
                            <div class="loanpic">
                                <img src="{{ loan_request.picture_of_business.url }}" width="100%">
                            </div>
                            <div class="loantag">
                                <h3 class="auction">{{ loan_request.borrower.business_name }}</h3>
                                <p class="auction2">{{ loan_request.purpose }}</p>
                            </div>
                            <hr class="dark">
                            <div class="littlebox">
                                <div class="col-xs-4 text-center verticalright">
                                    <h3 class="auction2">Inku Score</h3>
                                    <h1 class="auction">{{ loan_request.inku_score }}</h1>
                                </div>
                                <div class="col-xs-4 text-center verticalright">
                                    <h3 class="auction2">Int. Rate</h3>
                                    <h1 class="auction2">{{ loan_request.average_interest_rate }}%</h1>
                                </div>
                                <div class="col-xs-4 text-center">
                                    <h3 class="auction2">Term(Months)</h3>
                                    <h1 class="auction">{{ loan_request.term }}</h1>
                                </div>
                            </div>
                            <hr class="dark">
                            <div class="loanfill">
                                <div class="loanload text-left" style="width:60%">
                                    <h3 class="light">R{{ loan_request.remaining_amount|intcomma }} Remaining</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}