{% extends 'inku_app/base.html' %}

{% block title %}
    Lender my account page
{% endblock %}

{% block content %}
    <section class="bgPAP">


        <div class= "container">
            <div class= "row">


                <h1 style="font-size:43px; font-weight:300">Account Summary</h1>

                <hr width="30%" class="dark">

            </div>
            <br><br>

            <div class="border row">
                <div class="border col-md-3">
                    <div class="accountbox">
                        <h1 class="accountpage">Available Cash</h1>
                        <br>
                        <h1 class="accountpage3">R144,321.12</h1>
                    </div>
                </div>
                <div class="border col-md-3">
                    <div class="accountbox">
                        <h1 class="accountpage">ESD Contribution</h1>
                        <br>
                        <h1 class="accountpage3">R3,000,000.00</h1>
                    </div>
                </div>
                <div class="border col-md-3">
                    <div class="accountbox">
                        <h1 class="accountpage">Avg. Benefit Factor</h1>
                        <br>
                        <h1 class="accountpage3">58.3%</h1>
                    </div>
                </div>
                <div class="border col-md-3">
                    <div class="accountbox">
                        <h1 class="accountpage">Net Annualized Returns</h1>
                        <br>
                        <h1 class="accountpage3">3.4%</h1>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-8">

                    <div class="accountbox2">
                        <h1 class="accountpage">My Account:</h1>
                        <div class="border col-md-6">
                            <h1 class="accountpage2">Available Cash:</h1>
                            <h1 class="accountpage2">Committed Cash:</h1>
                            <h1 class="accountpage2">Outstanding Principal:</h1>
                            <br>

                        </div>
                        <div class="border col-md-6">
                            <h1 class="accountpage4">R144,321.12</h1>
                            <h1 class="accountpage4">R75,331.00</h1>
                            <h1 class="accountpage4">R200,313.11</h1>


                        </div>
                        <hr width="80%" class="dark">
                        <br>
                        <h1 class="accountpage2">Account Value:   &nbsp;   &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;
                            &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;
                            &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;    R3,000,000.00</h1>

                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="accountbox2">
                        <h1 class="accountpage">Investments</h1>
                        <div class="border row">


                            <div class="border col-md-6">
                                <h3 class="accountpage">Not Yet Issued:</h3>
                                <h3 class="accountpage">Current:</h3>
                                <h3 class="accountpage">Fully Paid:</h3>
                                <h3 class="accountpage">Late(16-31 Days):</h3>
                                <h3 class="accountpage">Late(31-120 Days):</h3>
                                <h3 class="accountpage">Default:</h3>
                                <h3 class="accountpage">Prepayment:</h3>
                            </div>
                            <div class="border col-md-6">
                                <h3 class="accountpage2">2</h3>
                                <h3 class="accountpage2">4</h3>
                                <h3 class="accountpage2">3</h3>
                                <h3 class="accountpage2">1</h3>
                                <h3 class="accountpage2">0</h3>
                                <h3 class="accountpage2">1</h3>
                                <h3 class="accountpage2">0</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br><br>
            <div class="row">
                <a href="{% url 'lender:investments' %}" class="bluebutton">Browse Investments</a>
                <a href="{% url 'lender:deposit_loan' %}" class="bluebutton">Add Funds</a>
                <a href="{% url 'lender:loan_marketplace' %}" class="bluebutton">Lending Options</a>
            </div>
        </div>
    </section>

{% endblock %}